*.class
.mtj.tmp/
*.war
*.ear
hs_err_pid*
target/
.springBeans
.metadata
.factorypath
.classpath
.project
.settings/
.vertx/
bin/
tmp/
logs/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.DS_Store
test.txt
.settings/
.sonarlint/
.recommenders/
/.recommenders/
**/*.iml
testng-report/
test-output/

# Share IntelliJ run configurations, ignore the rest of .idea
.idea/*
!.idea/runConfigurations
!.idea/runConfigurations/**
